{% extends "SonataUserBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
            </div>
        </div>
    </div>
    <div class="container">
        {% block sonata_page_breadcrumb %}
            {% if breadcrumb_context is not defined %}
                {% set breadcrumb_context = 'user_index' %}
            {% endif %}
            <div class="row-fluid clearfix">
                {{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri }) }}
            </div>
        {% endblock %}

        <div class="sonata-user-show row row-fluid">
            <div class="col-sm-12">
                {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
                {% block sonata_profile_content '' %}
            </div>
        </div>
    </div>
{% endblock %}
