
{% block sonata_profile_content %}
    {# Echo out all modules taken #}
    <div class="row">
        <div class="col-md-12">
            This is <span class="label label-primary">app/Resources/SonataUserBundle/views/Profile/show_contents.html.twig</span>
        </div>
    </div>
{% endblock %}
